<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/app/css/list.css">
    <link rel="stylesheet" href="/app/css/my_layout.css">
    <link rel="stylesheet" href="/app/fontawesome/css/all.css">
</head>
   
    <!-- Header -->
    <header>
		<div class="container d-flex justify-content-between align-items-center h-100">
			<div class="logo">
				<a href="/">CodeBook</a>
			</div>
			<nav class="d-flex justify-content-between">
				<div class="menu-group">
					<a href="/">메인</a>
                    <a href="/free/list">글목록</a>
				</div>
				<div class="user-group">
					<a th:if="${session.user == null}" href="/user/login" class="bttn header-login-btn">로그인</a>
					<a th:if="${session.user == null}" href="/user/register" class="bttn header-login-btn">회원가입</a>
                    <a  th:if="${session.user != null}" th:text="${session.user.name}" href="#" class="bttn header-login-btn">유저이름</a>
					<a  th:if="${session.user != null}" href="/user/logout" class="bttn header-login-btn">로그아웃</a>
				</div>
			</nav>
		</div>
	</header>
    <div th:if="${msg != null}" style="margin-top: 60px" class="mb-0 alert alert-warning alert-dismissible fade show" role="alert">
		<strong>알림!</strong>
		<span th:text="${msg}">메시지</span>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
    <!-- Header End -->

    <!-- Main Page -->
    <div id="main-page">
        <div id="content">
            <div id="blog" class="blog-content">
                <div class="container d-flex justify-content-between">
                    <!-- Side Menu -->
                    <div id="side-menu">
                        <ul class="menu-group">
                            <a href="/user/login" th:if="${session.user == null}"><button class="user">로그인</button></a>
                            <a href="/free/write" th:if="${session.user != null}"><button class="user">글쓰기</button></a>
                        </ul>
                        <ul class="menu-group">	
                            <span>홈</span>
                            <a href="/free/list">
                                <li class="menu active" style="word-break: break-all;">자유게시판</li>
                            </a>
                            <a href="/board/list">
                                <li class="menu" style="word-break: break-all;">코드게시판</li>
                            </a>
                        </ul>
                    </div>
                    <!-- Side Menu End -->

                    <!-- Content -->
                    <div id="content">
                        <div class="sub-header title">글 목록</div>

                        <!-- Navigation -->
                        <div class="sub-header navigation">
                            <div class="sub-header-menus">
                                <li class="menu"><a href="/free/list"><i class="fas fa-angle-down"></i>&nbsp;&nbsp;<span>최신글</span></a></li>
                            </div>
                            <form id="searchForm">
                                <div class="h-100 sub-header-search">
                                    <div class="search-input">
                                        <input type="text" id="keyword"  placeholder="검색">
                                        <button type="submit" id="btnSearch"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Navigation End -->

                        <!-- Board List -->
                        <div id="article-list">
                            <div class="article d-flex justify-content-between" th:each="board : ${list}">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div th:text="${board.id}">1</div>
                                    <div class="ml-3 article-item d-flex flex-column">
                                        <a th:href="@{'/free/view/' + ${board.id} + ${criteria.getQuery(criteria.page)} }" th:text="${board.title}">제목</a>
                                    </div>
                                </div>
                                <div class="article-info d-flex justify-content-between align-items-center">
                                    <div class="writeDate" th:text="${board.writeDate}">작성일</div>
                                </div>
                            </div>

                            <!-- Pagination -->
                            <div class="article-footer asdasd d-flex justify-content-center">
                            	<div class="d-flex">
		                            <li class="page-item" th:if="${criteria.prev}">
		                                <a th:href="@{ '/free/list' + ${criteria.getQuery(criteria.start - 1)} }" aria-label="Previous" class="page-link">
		                                    <span style="color: #5f5f5f;" aria-hidden="true">&laquo;</span>
		                                </a>
		                            </li>
		                            <th:block th:each="i : ${#numbers.sequence(criteria.start, criteria.end)}" class="d-flex">
		                                <li class="page-item">
		                                    <a style="color: #5f5f5f;" th:href="@{'/free/list' + ${criteria.getQuery(i)} }" th:text="${i}" class="page-link">2</a>
		                                </li>
		                            </th:block>
		                            <li class="page-item" th:if="${criteria.next}">
		                                <a th:href="@{'/free/list' + ${criteria.getQuery(criteria.end + 1)} }" aria-label="Next" class="page-link">
		                                    <span style='color: #5f5f5f;' aria-hidden="true">&raquo;</span>
		                                </a>
		                            </li>
                                </div>
                            </div>
                            <!-- Pagination End -->

                        </div>
                        <!-- Board List End -->
                        
                    </div>
                    <!-- Content End -->
                </div>
            </div>
            <!-- Blog End -->
        </div>
        <!-- Content End -->

        <!-- Footer -->
        <footer>
            <div class="footer-menu d-flex align-items-center">
                <div class="container">
                    <a href="#">사이트소개</a>
                    <a href="#">이용약관</a>
                    <a href="#">개인정보처리방침</a>
                    <a href="#">문의/피드백</a>
                    <a href="#">광고</a>
                </div>
            </div>
            <div class="footer-content">
                <div class="container d-flex justify-content-between">
                    <div>
                        경기 성남시 분당구 불정로 386번길 35 양영디지털고등학교<br>
                        Tel: 031) 123-4567 / Phone: 010) 1234-5678<br><br>
                        © CODEBOOK. ANNONYMOUS All rights reserved
                    </div>
                    <div>
                        <img src="/app/images/twitter.png" alt="">
                        <img src="/app/images/instagram.png" alt="">
                        <img src="/app/images/facebook.png" alt="">
                    </div>
                </div>
            </div>
        </footer>
    <!-- Footer End -->
    </div>

    <!-- Search Script -->
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/popper.js/1.15.0/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
		$(function() {
			$("#btnSearch").on("click", function(e){
				let text = $("#keyword").val();
				location.href = '/free/list?keyword=' + text;
			});
			$("#searchForm").on("submit", function(e){
				$("#btnSearch").click();
				return false;
			});
		});
    </script>
    <!-- Search Script End -->

</body>
</html>
