<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 일반게시판 -->
<mapper namespace="net.gondr.mappers.BoardMapper">
	<sql id="search">
		<if test="keyword != null">
			where title LIKE CONCAT('%', #{keyword}, '%') OR content LIKE CONCAT('%', #{keyword}, '%')
		</if>
	</sql>
	<insert id="write">
		INSERT INTO spring_boards (title, content, writer, writeDate)
		VALUES ( #{title}, #{content}, #{writer}, NOW() )
	</insert>
	<select id="list" resultType="BoardVO">
		SELECT id, title, writer, writeDate FROM spring_boards
		<include refid="search"></include>
		ORDER BY id DESC LIMIT #{pageStart}, #{perPageNum}
	</select>
	<update id="update">
		UPDATE spring_boards SET content = #{content}, title = #{title} WHERE id = #{id}
	</update>
	<delete id="delete">
		DELETE FROM spring_boards WHERE id = #{id}
	</delete>
	<select id="view" resultType="BoardVO">
		SELECT b.*, u.name, u.img, u.level FROM spring_boards AS b, spring_users AS u WHERE id = #{id} AND u.userid = b.writer
	</select>
	<select id="cnt" resultType="Integer">
		SELECT count(*) FROM spring_boards
		<include refid="search"></include>
	</select>
</mapper>
<!-- 자유게시판 -->
<mapper namespace="net.gondr.mappers.BoardMapper">
	<sql id="free_search">
		<if test="keyword != null">
			where title LIKE CONCAT('%', #{keyword}, '%') OR content LIKE CONCAT('%', #{keyword}, '%')
		</if>
	</sql>
	<insert id="free_write">
		INSERT INTO spring_freeboards (title, content, writer, writeDate)
		VALUES ( #{title}, #{content}, #{writer}, NOW() )
	</insert>
	<select id="free_list" resultType="BoardVO">
		SELECT id, title, writer, writeDate FROM spring_freeboards
		<include refid="free_search"></include>
		ORDER BY id DESC LIMIT #{pageStart}, #{perPageNum}
	</select>
	<update id="free_update">
		UPDATE spring_freeboards SET content = #{content}, title = #{title} WHERE id = #{id}
	</update>
	<delete id="free_delete">
		DELETE FROM spring_freeboards WHERE id = #{id}
	</delete>
	<select id="free_view" resultType="BoardVO">
		SELECT b.*, u.name, u.img, u.level FROM spring_freeboards AS b, spring_users AS u WHERE id = #{id} AND u.userid = b.writer
	</select>
	<select id="free_cnt" resultType="Integer">
		SELECT count(*) FROM spring_freeboards
		<include refid="free_search"></include>
	</select>
</mapper>