/* Style Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }
/* Style Reset End */

::-webkit-scrollbar {
	display: none;
}

/* Default */
@keyframes menu_up {0% {margin-top: 80px; opacity: 0; } 100% {margin-top: 50px; opacity: 1; } }
@keyframes menu_up_two {0% {margin-top: 30px; opacity: 0; } 100% {margin-top: 0px; opacity: 1; } }
#side-menu, .sub-header, #article-list { opacity: 0; }
#side-menu, .sub-header.title { animation: menu_up 1s forwards; }
.sub-header { z-index: 1000; }
.sub-header.navigation, #article-list { animation: menu_up_two 1s forwards; }
.sub-header { animation-delay: 0.3s; }
#article-list { animation-delay: 0.5s; }

#blog {
	background-color: #ebeef1;
	padding-bottom: 50px;
	padding-top: 110px;
}

.blog-content .container {
	margin-top: -50px;
}

#side-menu, #content {
	z-index: 1000;
}
/* Default End */

/* Header */
header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	height: 60px;
	background-image: linear-gradient(94deg,#1ea1f7,#46cfa7);
}

header .logo {
	color: #fff;
	font-size: 30px;
	font-weight: bold;
}

header nav {
	min-width: 300px;
}

header .menu-group {
	margin-right: 10px;
}

header .menu-group a {
	font-size: 14px;
	margin: 0 15px;
	color: #fff;
}

header .user-group a {
	border: 1px solid #fff;
	border-radius: 4px;
	font-size: 12px;
	color: #fff;
	padding: 8px 16px;
	margin: 0 5px;
}

header .user-group a:hover {
	background-color: #fff3;
}
/* Header End */

/* Side Menu */
#side-menu {
	position: sticky;
	top: 60px;
	width: 320px;
	min-height: 500px;
	height: 100%;
	background-color: #fff;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}

#side-menu .menu-group {
	border-bottom: 1px solid #ebeef1;
}

#side-menu button.user {
	width: 90%;
	height: 40px;
	margin: 15px;
	background-color: #46cfa7;
	color: #fff;
	border: none;
	border-radius: 4px;
}

#side-menu span {
	color: #7b858e;
	font-size: 12px;
	padding: 0px 15px;
}

#side-menu li {
	height: 30px;
	color: #747677;
	margin: 10px 13px;
	padding-left: 10px;
	display: flex;
	align-items: center;
	border-radius: 4px;
	font-size: 14px;
}

#side-menu li.active {
	background-color: #f8f9fa;
	color: #16ae81;
	font-weight: bold;
}
/* Side Menu End */

/* Sub-header */
.sub-header {
	width: 100%;
	height: 50px;
	background-color: #fff;
}

.sub-header.title {
	font-size: 18px;
	font-weight: 700;
	line-height: 50px;
	padding-left: 16px;
}

.sub-header.navigation {
	position: sticky;
	top: 60px;
	box-shadow: 0 3px 3px -2px rgba(0,0,0,.15);
	display: flex;
	justify-content: space-between;
	padding: 0px 16px;
}

.sub-header.navigation .sub-header-menus {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sub-header.navigation .sub-header-menus li {
	margin-right: 30px;
	font-size: 14px;
	color: #7b858e;
}

.sub-header.navigation .sub-header-menus li:hover {
	cursor: pointer;
}

.sub-header.navigation .sub-header-menus li.active {
	color: #46cfa7;
}

.sub-header.navigation .sub-header-menus li:hover span {
	color: #46cfa7;
}

.sub-header.navigation .sub-header-menus li i {
	font-size: 17px;
	margin-right: 2px;
}

.sub-header.navigation .sub-header-search {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sub-header.navigation .sub-header-search .search-option, .sub-header.navigation .sub-header-search .search-input {
	width: 122px;
	height: 36px;
}

.sub-header.navigation .sub-header-search .search-option {
	color: #98a0a7;
	border: 1px solid #ebeef1;
	padding: 0px 10px;
	font-size: 14px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.sub-header.navigation .sub-header-search .search-input {
	width: 200px;
	background-color: #ebeef1;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.search-input input, .search-input button {
	background: none;
	border: none;
	outline: none;
}

.search-input input {
	width: 164px;
	padding-left: 10px;
	font-size: 14px;
}

.search-input button {
	width: 36px;
	height: 36px;
	color: #c5cbd0;
}
/* Sub-header End */

/* Main Page */
#main-page #content {
	position: relative;
	z-index: 1000;
	background-color: #ebeef1;
	/* margin-top: 60px; */
}

#main-page footer {
	position: relative;
	z-index: 1000;
}
/* Main Page End */

/* Article List */
#blog {
	padding: 110px 0px 50px;
}

#blog #article-list {
	margin-top: 25px;
	width: 770px;
	min-height: 840px;
	background-color: #fff;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}

#article-list .article {
	width: 100%;
	height: 77px;
	padding: 8px 20px;
	border-bottom: 1px solid #ebeef1;
}

.article .article-no {
	width: 40px;
	margin-right: 20px;
	text-align: center;
	font-size: 15px;
	color: #7b858e;
}

.article .article-title {
	font-size: 14px;
	color: #1e2022;
}

.article .article-title .comments {
	color: #16ae81;
	margin-left: 5px;
}

.article .article-info {
	padding-top: 5px;
	font-size: 14px;
	color: #7b858e;
}

.article .particle {
	width: 1px;
	height: 8px;
	background-color: #bec4c9;
	margin: 0 15px;
}

.article .article-img {
	width: 93px;
	height: 60px;
	background-color: #f9f9f9;
}

.article .article-img img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

#blog .asdasd {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #ebeef1;
	background-color: #f8f9fa;
}
/* Article List End */

/* Footer */
footer .footer-menu {
	width: 100%;
	height: 56px;
	background-color: #dddfe4;
}

footer .footer-menu a {
	color: #7b858e;
	font-size: 16px;
}

footer .footer-menu a:first-child {
	margin-right: 16px;
}

footer .footer-menu a:not(:first-child) {
	padding: 0 16px;
	border-left: 1px solid #c5cbd0;
}

footer .footer-content {
	width: 100%;
	height: 250px;
	background-color: #ebeef1;
	font-size: 14px;
	color: #7b858e;
	padding: 75px 0;
	line-height: 22px;
}

footer .footer-content div:first-child {
	display: flex;
	align-items: center;
}

footer .footer-content div:last-child {
	display: flex;
	align-items: flex-end;
}

footer .footer-content img {
	width: 25px;
	height: 25px;
	margin: 0px 10px;
}

footer .footer-content img:hover {
	transition: 0.2s;
	opacity: 0.7;
	cursor: pointer;
}
/* Footer End */

/* Register, Login */
#join, #login {
	width: 100%;
	height: 1000px;
	background-color: #ebeef1;
}

#join .container, #login .container {
	width: 450px;
	height: 500px;
	background-color: #fff;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
	padding: 0px 40px;
}

#login .container {
	height: 420px;
}

#join .container .title, #login .container .title {
	margin-top: 30px;
	font-size: 40px;
	color: #1ea1f7;
	font-weight: bold;
}

#join .container .input, #login .container .input {
	width: 370px;
	height: 40px;
	position: relative;
	margin-top: 37px;
}

#join .container input, #login .container input {
	position: absolute;
	top: 0;
	left: 0;
	width: 370px;
	height: 40px;
	border: none;
    padding: 10px 0 11px;
    border-bottom: 1px solid #dddfe4;
    outline: none;
}

#join .container input:focus, #login .container input:focus {
    border-bottom: 1px solid #1ea1f7;
}

#join .container input:valid + label, #login .container input:valid + label {
	transition: all 0.5s;
	font-size: 12px;
	transform: translateY(-20px);
	color: #1ea1f7;
}

#join .container input:focus + label, #login .container input:focus + label {
	transition: all 0.5s;
	font-size: 12px;
	transform: translateY(-20px);
	color: #1ea1f7;
}

#join .container label, #login .container label {
	transition: all .5s;;
	position: absolute;
	top: 7px;
	left: 0;
	color: #7b858e;
	cursor: text;
}

#join .container button, #login .container button {
	width: 370px;
	height: 56px;
	background-color: #dddfe4;
	border-radius: 4px;
	border: none;
	color: #fff;
	font-weight: bold;
	margin-top: 50px;
}
/* Register, Login End */